/* body{
    background:linear-gradient(rgb(32, 31, 31),rgb(214, 179, 40));
    background-size: cover;
    background-repeat: no-repeat;
    
}
p{
    color: white;
}
div{
    height: 100px;
    width: 100px;
    background-color: rgb(247, 141, 4);
    color: rgb(123, 10, 228);
} */